.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.row:before, .row:after{
	content: "";
	display: table;
}
.row:after{ 
	clear: both;
}
[class*="col-"]{
	min-height: 1px;
	float: left;
}
.col-1{
	width: 8.334%;
}
.col-2{
	width: 16.667%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.333%;
}
.col5{
	width: 41.667%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.336%;
}
.col-8{
	width: 35.337%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.334%;
}
.col-11{
	width: 91.666%;
}
.col-12{
	width: 100%;
}
a{
	text-decoration: none;
}
h3{
	font-size: 1.35rem;
	font-weight: 400;
	color: #ffffff;
	text-align: center;
	padding: 1%;
}
.title-general{
	font-size: 2.4rem;
	display: flex;
	justify-content: center;
	padding: 1%;
}
.content-section{
	display: flex;
	justify-content: center;
	align-items: center;
}
.bg-white{
	background-color: #ffffff;
}
.bg-color{
	background-color: #18bc9c;
}
li{
	list-style: none;
}